@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  vertical-align: baseline;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #4973f2;
}

.container {
  display: flex;
  width: 100%;
  gap: 0.6rem;
  padding: 0.6rem;
  max-width: 64rem;
}

section {
  background-color: white;
  border-radius: 0.25rem;
}

.tools-board {
  width: 13rem;
  padding: 1rem 1.4rem 0;
}

.tools-board .row {
  margin-bottom: 1.4rem;
}

.row .options {
  list-style: none;
  margin: 0.6rem 0 0 0.2rem;
}

.row .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}

.option :where(span, label) {
  color: #5a6168;
  padding-left: 0.5rem;
  cursor: pointer;
}

.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}

.option #fill-color {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

#fill-color:checked ~ label {
  color: #4a98f7;
}

.option input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #e6e6e6;
  border-radius: 1rem;
  width: 100%;
  height: 0.4rem;
  margin-top: 0.2rem;
}

.option input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: #4a98f7;
  border-radius: 50%;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.colors .option {
  height: 1.2rem;
  width: 1.2rem;
  background-color: red;
  border-radius: 50%;
  margin-top: 0.2rem;
  position: relative;
}

.colors .option:nth-child(1) {
  background: #fff;
  border: 1px solid #bbbbbb;
}

.colors .option:nth-child(2) {
  background-color: #000;
}

.colors .option:nth-child(3) {
  background-color: #e02020;
}

.colors .option:nth-child(4) {
  background-color: #6dd400;
}

.colors .option:nth-child(5) {
  background-color: #4a98f7;
}

.colors .option:hover::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 0.6rem;
  width: 0.6rem;
  background-color: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.colors .option:first-child:hover::before {
  border-color: #bbbbbb;
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.buttons button {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.8rem 0;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background: none;
}

.buttons .clear-canvas {
  color: #979797;
  border: 1px solid #979797;
  transition: all 0.2s ease;
}

.buttons .clear-canvas:hover {
  color: #fff;
  background-color: #979797;
}

.buttons .save-img {
  color: #fff;
  background-color: #4a98f7;
  border: 1px solid #4a98f7;
  transition: all 0.2s ease;
}

.buttons .save-img:hover {
  background-color: #94c1f8;
  border: 1px solid #94c1f8;
}

.drawing-board {
  flex: 1;
}

.drawing-board canvas {
  width: 100%;
  height: 100%;
}
